<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>AdonisJs</title>

		{{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}
	</head>
	<body>
		<section>
			<div class="container">
			 	<div class="row mt-5">
					<div class="card col-md-12">
					  	<div class="card-body">
							@!section('contenido')
					  	</div>
					</div>
			 	</div>
			</div>
		</section>
		{{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}
		{{ script('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js') }}
		{{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js') }}
	</body>
</html>
